#----------------------------#
#------ Global ignores --------#
#----------------------------#
obj/
bin/
.axoCover
.vs/
*.user
*.pdb
*.suo
*.vbproj.user
*.vshost.exe
*.vshost.exe.manifest
*.vshost.exe.config
*.exe.config
*.dll.config
*.VC.db
codealike.json
packages/

VectorDraw*
OpenVDF.dll
vdDXF.dll
vd*
RenderFormats.dll

Infragistics*
DevExpress*
Microsoft.VisualBasic.PowerPacks.Vs.*
